.cinema-body{
  background-image: url(../img/cinema.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.navbar-altura{
  background-color: hsla(215, 26%, 43%, 0.95);
  height: 10%;

}

.logo-img{
  width: 18%;
}


.contenedor-margen{
  margin-top: 64px;
}

.jumbotron{
  background-image: url(../img/jumbotron.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  margin-bottom: 0px;
  border-radius: 0px !important ;
}

.jumbotron-img{
  margin-top: 20px;
}

.jumbotron-text{
  font-size: 16px;
  color: white;
  margin-top: 20px;
}

.redes-sociales{
  margin-top: 20px;
}

.img-social{
  width: 40px;
  height: 40px;
}

.welcome-title{
  color: white;
  margin-left: 10px;
}

.titulo-cartelera{
  background-color: hsla(220, 47%, 42%, 0.95);
  min-height: 45px;
}

.titulo-text{
  font-size: 18px;
  font-weight: bolder;
  color: white;
  padding: 10px;
}

.movies-row{
  background-color: hsla(220, 47%, 74%, 0.8);
  min-height: 350px;
  padding-left: 15px;
  padding-right: 15px;
}

.movie-tittle{
  color: white;
}

.img-movies{
  height: 260px;
  padding: 6px;
  margin-top: 22px;
}

.movies-column{
  margin-top: 5px;
  background-color: hsla(188, 47%, 57%, 0.1);
  min-height: 330px;

}

.left-column{
  border-right: 1px dashed green;
}

p.services-text:after{
  content: "En nuestro cine te ofrecemos los siguientes servicios para brindarte la mejor diversión y que disfrutes al máximo:";
}



@media (max-width:770px) {
  .right-column{
    display: none;
  }
  .movies-row{
    min-height: 250px;
  }
  .movies-column{
    min-height: 230px;
  }
  .jumbotron{
    min-height: 400px;
  }
  .jumbotron-img{
    margin-top: 20px;
  }
  h2{
    font-size: 22px;
  }
  .titulo-cartelera{
    font-size: 15px;
  }
}
